<h1> Foc.us </h1>
<hr />

<%= link_to "Logout", destroy_user_session_path, method: :delete %>

<h3> 
  Notes 
  <%= link_to "create one", new_note_path %>
</h3>
<% if @notes.any? %>

  <% @notes.each do |note| %>
    <div class="#{dom_id(note)}">
      <%= note.description %>
    </div>
  <% end %>

<% else %>

  <div> No notes </div>

<% end %>

<h3> 
  Todos 
  <%= link_to "create one", new_todo_path %>
</h3>

<% if @todos.any? %>

  <% @todos.each do |todo| %>
    <div class="#{dom_id(todo)}">
      <span> <%= todo.description %> </span>
      <div style="margin-left: 10px">
        <% todo.action_items.each do |item| %>
          <div> 
            <%= check_box_tag :done, item.done, item.done %>
            <%= item.description %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

<% else %>
  
  <div> No todos </div>

<% end %>
