<% color = event.color.present? ? event.color : '#cc1f1a' %>

<div style="border-left: 8px solid <%= color %>; border-right: 8px solid <%= color %>" class="mb-2 bg-black text-white">
  <div class="text-right py-1 px-1">
    <%= link_to event_path(event), method: :delete, class: "text-xs text-red no-underline", data: { confirm: "Remove this event and its occurrences?" } do %>
      &#10060;
    <% end %>
  </div>

  <div class="p-4">
    <%= link_to edit_event_path(event), class: "no-underline uppercase custom-font text-sm text-white" do %>
      <%= event.name %>
    <% end %>

    <div class="mt-3">
      <span class="text-xxs custom-font text-yellow-light">
        <%= format_time(event.start_time) %>
      </span>
    </div>
  </div>
</div>
