<%= f.label :description, class: "uppercase bg-black text-white p-2 custom-font text-sm" %>
<div>
  <%= f.text_area :description, placeholder: "Add your todo description", class: "custom-font p-4 w-full h-64 appearance-none shadow border-4 border-black" %>
</div>

<div class="mt-2">
  <div class="mb-4">
    <span class="text-sm custom-font uppercase bg-black text-white p-2"> your action items </span>
  </div>

  <%= f.fields_for :action_items do |action_item| %>
    <%= render "action_item_fields", f: action_item %>
  <% end %>
  <div class="mt-4 links">
    <%= link_to_add_association "add", f, :action_items, class: "uppercase custom-font text-sm" %>
  </div>
</div>

<div class="mt-4 text-center">
  <%= f.submit "Publish", class: "text-white bg-black p-4 custom-font uppercase cursor-pointer" %>

  <div class="mt-4">
    <%= link_to "Forget it. I wish to go back to dashboard!", root_path, class: "uppercase custom-font text-black text-sm" %>
  </div>
</div>